<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{- else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{- end }}
  <link rel="stylesheet" href="{{ "/css/gd.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
</head>
<body>
  {{ partial "header.html" . }}
  <main>
  {{ block "main" . }}{{ end }}
  <hr />
  {{ partial "recipe_collections.html" . }}
   </main>
  {{ partial "footer.html" . }}
</body>
</html>
