{{ define "main" }}

<figure>
  <img src="/sites/default/files/veggie-pasta-bake-hero-umami.jpg"
       alt="Mouth watering vegetarian pasta bake with rich tomato sauce and cheese toppings"
       class="hero" />
</figure>

{{- $articles := where .Site.RegularPages "Section" "article" }}
{{- with where $articles "Params.promote" true }}
<section>
{{- range first 3 . }}
  {{ partial "card.html" . }}
{{- end }}
</section>
{{- end }}

{{- $recipes := where .Site.RegularPages "Section" "recipe" }}
{{- with where $recipes "Params.promote" true }}
<h2>{{ default "Pickup recipes" (i18n "pickup_recipes" | humanize) }}</h2>
<section>
{{- range first 6 . }}
  {{ partial "card.html" . }}
{{- end }}
</section>
{{- end }}

{{ end }}
