{{ define "main" }}

{{ partial "breadcrumb.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{- $paginator := .Paginate .Pages }}
<section>
  {{- range $paginator.Pages }}
  {{ partial "card.html" . }}
  {{- end }}
</section>
{{ template "_internal/pagination.html" . }}

{{ end }}
