{{ define "main" }}

{{ partial "breadcrumb.html" . }}

<h1>{{ .Title }}</h1>

{{- with (.GetTerms "recipe_category").ByTitle }}
<div class="items">
  <div><b>{{ default "Recipe category" (i18n "recipe_category" | humanize) }}</b>:</div>
  {{- range . }}
  {{ partial "link.html" . }}
  {{- end }}
</div>
{{- end }}

{{- with (.GetTerms "tags").ByTitle }}
<div class="items">
  <div><b>{{ default "Tags" (i18n "tags" | humanize) }}</b>:</div>
  {{- range . }}
  {{ partial "link.html" . }}
  {{- end }}
</div>
{{- end }}

{{- if eq .Type "recipe" }}
  {{ partial "recipe.html" . }}
{{- else }}
  {{- with .Param "fields.media_image.fields.media_image" }}
  <figure>
    <img src="{{ .url }}" alt="{{ .meta.alt }}" class="hero" />
  </figure>
  {{- end -}}
  {{ .Content }}
{{- end }}

{{- with .Site.RegularPages.Related . }}
<hr />
<h2>{{ default "Related pages" (i18n "related_pages" | humanize) }}</h2>
<section>
  {{- range first 6 . }}
  {{ partial "card.html" . }}
  {{- end }}
</section>
{{- end }}

{{ end }}
