{
  "key": "/recipe/2",
  "nid": 2,
  "name": "recipe",
  "url": "recipes/vegan-chocolate-and-nut-brownies/",
  "title": "Vegan chocolate and nut brownies",
  "recipe_category": [
    "recipe_category-32"
  ],
  "tags": [
    "tags-3",
    "tags-7",
    "tags-27",
    "tags-9"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "medium",
    "ingredients": [
      "6 tbsp sunflower oil",
      " 80g vegan dark chocolate",
      " 170g plain flour",
      " 80g coconut flour",
      " 1 tsp baking powder",
      " 9 tsp cocoa powder",
      " 100g caster sugar",
      " 3 tbsp of maple syrup",
      " 1/4 tsp sea salt",
      " 1 tsp vanilla extract",
      " 230ml unsweetened organic soya milk",
      " 100g pecan nuts",
      " 80g walnut halves"
    ],
    "number_of_servings": 12,
    "preparation_time": 20,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Use a little of the sunflower oil to grease an 8 inch square baking tin (or similar size) and line the tin with greaseproof paper.</li>\n  <li>Preheat the oven to 350°F/180°C.</li>\n  <li>Break approximately 1/3rd of the chocolate bar off and chop into small pieces. Roughly chop 2/3rds of the pecan nuts and mix together with the chopped chocolate. Set aside.</li>\n  <li>For finishing the brownies, chop or crush the remaining pecan nuts and walnuts, mix together and set aside.</li>\n  <li>Melt the remaining chocolate by bringing a couple inches of water to the boil in a small saucepan that is suitably sized for holding a heatproof bowl in the pan opening. Do not allow the bottom of the heatproof bowl to touch the water. Place the chocolate into the bowl to melt, stirring occasionally to ensure the chocolate has fully melted. Once melted, set aside and allow to cool slightly.</li>\n  <li>Whilst the chocolate is melting, begin to sieve the plain flour, coconut flour, and cocoa powder into a large mixing bowl and mix. Once mixed, stir in the baking powder and sugar.</li>\n  <li>Once the chocolate has cooled a little, begin to slowly stir the vanilla essence, sunflower oil, soya milk, and melted chocolate into the flour and cocoa mix.</li>\n  <li>Now stir in the previously chopped chocolate and pecan nuts, ensuring they are stirred evenly into the mixture.</li>\n  <li>Pour the mixture into the baking tin and spread evenly with a spatula.</li>\n  <li>Sprinkle the chopped pecan nuts and walnuts across the top and bake in the centre of the oven for 18 to 23 minutes.</li>\n  <li>Remove from the oven and allow to cool for 45 minutes. Carefully use the edges of the greaseproof paper to lift the brownie out of the tin and place onto a chopping board. With a sharp knife, gently cut into evenly sized pieces.</li>\n  <li>Serve on their own or with some vegan cream or ice cream.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Use a little of the sunflower oil to grease an 8 inch square baking tin (or similar size) and line the tin with greaseproof paper.</li>\n<li>Preheat the oven to 350°F/180°C.</li>\n<li>Break approximately 1/3rd of the chocolate bar off and chop into small pieces. Roughly chop 2/3rds of the pecan nuts and mix together with the chopped chocolate. Set aside.</li>\n<li>For finishing the brownies, chop or crush the remaining pecan nuts and walnuts, mix together and set aside.</li>\n<li>Melt the remaining chocolate by bringing a couple inches of water to the boil in a small saucepan that is suitably sized for holding a heatproof bowl in the pan opening. Do not allow the bottom of the heatproof bowl to touch the water. Place the chocolate into the bowl to melt, stirring occasionally to ensure the chocolate has fully melted. Once melted, set aside and allow to cool slightly.</li>\n<li>Whilst the chocolate is melting, begin to sieve the plain flour, coconut flour, and cocoa powder into a large mixing bowl and mix. Once mixed, stir in the baking powder and sugar.</li>\n<li>Once the chocolate has cooled a little, begin to slowly stir the vanilla essence, sunflower oil, soya milk, and melted chocolate into the flour and cocoa mix.</li>\n<li>Now stir in the previously chopped chocolate and pecan nuts, ensuring they are stirred evenly into the mixture.</li>\n<li>Pour the mixture into the baking tin and spread evenly with a spatula.</li>\n<li>Sprinkle the chopped pecan nuts and walnuts across the top and bake in the centre of the oven for 18 to 23 minutes.</li>\n<li>Remove from the oven and allow to cool for 45 minutes. Carefully use the edges of the greaseproof paper to lift the brownie out of the tin and place onto a chopping board. With a sharp knife, gently cut into evenly sized pieces.</li>\n<li>Serve on their own or with some vegan cream or ice cream.</li>\n</ol>"
    },
    "summary": {
      "value": "Scrumptious vegan chocolate brownies that are rich, fudgy, and nutty. These delights have a surprise hint of coconut making them the perfect indulgence. Serve warm with a little vanilla dairy-free ice cream!",
      "format": "basic_html",
      "processed": "<p>Scrumptious vegan chocolate brownies that are rich, fudgy, and nutty. These delights have a surprise hint of coconut making them the perfect indulgence. Serve warm with a little vanilla dairy-free ice cream!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "A stack of chocolate and pecan brownies, sprinkled with pecan crumbs and crushed walnut, fresh out of the oven",
            "title": null,
            "width": 770,
            "height": 512,
            "drupal_internal__target_id": 3
          },
          "url": "/sites/default/files/vegan-chocolate-nut-brownies.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

