{
  "key": "/recipe/3",
  "nid": 3,
  "name": "recipe",
  "url": "recipes/super-easy-vegetarian-pasta-bake/",
  "title": "Super easy vegetarian pasta bake",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-28",
    "tags-21",
    "tags-2"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "400g wholewheat pasta",
      " 1 onion",
      " 2 garlic cloves",
      " 1 pack vegetarian sausages",
      " 400g chopped tomatoes",
      " 50g sliced sun dried tomatoes",
      " 1 pinch sugar",
      " 3 tbsp red pesto",
      " 50g cheddar cheese",
      " Basil or mixed herbs",
      " 100g mozzarella"
    ],
    "number_of_servings": 4,
    "preparation_time": 5,
    "recipe_instruction": {
      "value": "<ol>\n  <li>In a large pan, boil the pasta in plenty of water until cooked.</li>\n  <li>Whilst the pasta is cooking, chop the onion and gently fry it with the garlic in a little oil until soft and the onion looks clear.</li>\n  <li>Add the vegetarian sausages. Once browned, remove and chop into chunky bites.</li>\n  <li>Pop the sausages back into the pan and add the tomatoes, sugar, pesto and sun dried tomatoes. Season to taste. Simmer until most of the water from the chopped tomatoes has gone.</li>\n  <li>Drain the pasta and add to the pan with the sausages and tomatoes. Stir in half of the cheddar and transfer to a shallow dish. Sprinkle with the rest of the cheddar and dot the sliced mozzarella over the top.</li>\n  <li>Grill for 10 minutes or until the cheese has melted and started to brown. Serve with basil leaves.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>In a large pan, boil the pasta in plenty of water until cooked.</li>\n<li>Whilst the pasta is cooking, chop the onion and gently fry it with the garlic in a little oil until soft and the onion looks clear.</li>\n<li>Add the vegetarian sausages. Once browned, remove and chop into chunky bites.</li>\n<li>Pop the sausages back into the pan and add the tomatoes, sugar, pesto and sun dried tomatoes. Season to taste. Simmer until most of the water from the chopped tomatoes has gone.</li>\n<li>Drain the pasta and add to the pan with the sausages and tomatoes. Stir in half of the cheddar and transfer to a shallow dish. Sprinkle with the rest of the cheddar and dot the sliced mozzarella over the top.</li>\n<li>Grill for 10 minutes or until the cheese has melted and started to brown. Serve with basil leaves.</li>\n</ol>"
    },
    "summary": {
      "value": "A wholesome pasta bake is the ultimate comfort food. This delicious bake is super quick to prepare and an ideal midweek meal for all the family.",
      "format": "basic_html",
      "processed": "<p>A wholesome pasta bake is the ultimate comfort food. This delicious bake is super quick to prepare and an ideal midweek meal for all the family.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Cheesy pasta dish with vegetarian sausages and topped with mozzarella cheese and basil",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 5
          },
          "url": "/sites/default/files/veggie-pasta-bake-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

