{
  "key": "/recipe/4",
  "nid": 4,
  "name": "recipe",
  "url": "recipes/watercress-soup/",
  "title": "Watercress soup",
  "recipe_category": [
    "recipe_category-33"
  ],
  "tags": [
    "tags-25",
    "tags-28"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "3 bunches watercress",
      "3 potatoes",
      "3 onions",
      "2 leeks",
      "800ml stock",
      "5 tbsp crème fraîche"
    ],
    "number_of_servings": 4,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Prepare the vegetables by peeling and chopping the potatoes, finely chopping the onions, leeks and garlic.</li>\n  <li>Heat a little oil in a pan and add the chopped vegetables, gently cooking them for about 5 minutes.</li>\n  <li>Add the vegetable stock to the same pan and turn up the heat until simmering, adding the watercress after about 10 minutes. Cook until all the vegetables are soft and easily mashed.</li>\n  <li>Liquidize the soup either with a hand blender or in a mixer, until smooth.</li>\n  <li>If the soup has cooled too much whilst being liquidized, stir in the crème fraîche and reheat before serving (otherwise serve straight away). Season to taste.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Prepare the vegetables by peeling and chopping the potatoes, finely chopping the onions, leeks and garlic.</li>\n<li>Heat a little oil in a pan and add the chopped vegetables, gently cooking them for about 5 minutes.</li>\n<li>Add the vegetable stock to the same pan and turn up the heat until simmering, adding the watercress after about 10 minutes. Cook until all the vegetables are soft and easily mashed.</li>\n<li>Liquidize the soup either with a hand blender or in a mixer, until smooth.</li>\n<li>If the soup has cooled too much whilst being liquidized, stir in the crème fraîche and reheat before serving (otherwise serve straight away). Season to taste.</li>\n</ol>"
    },
    "summary": {
      "value": "A wonderfully simple and light soup, making the most of seasonal, local produce. ",
      "format": "basic_html",
      "processed": "<p>A wonderfully simple and light soup, making the most of seasonal, local produce.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Watercress soup with a sprig of coriander as garnish in a white bowl with green trim",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 7
          },
          "url": "/sites/default/files/watercress-soup-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

