{
  "key": "/recipe/7",
  "nid": 7,
  "name": "recipe",
  "url": "recipes/thai-green-curry/",
  "title": "Thai green curry",
  "recipe_category": [
    "recipe_category-31"
  ],
  "fields": {
    "cooking_time": 15,
    "difficulty": "medium",
    "ingredients": [
      "400g coconut milk",
      " 400g chicken or tofu",
      " 1 tbsp Thai green curry paste",
      " 1 garlic clove",
      " 2 tsp fish sauce",
      " 400g mushrooms",
      " 200g green beans",
      " Fresh coriander leaves",
      " Jasmine rice"
    ],
    "number_of_servings": 4,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>In a large wok, brown the chicken until golden, then turn the heat down and gently cook the garlic. Add the chopped green beans and stir.</li>\n  <li>Add the coconut milk, green curry paste and fish sauce. Mix well and slowly simmer.</li>\n  <li>Add the chopped mushrooms and simmer until the chicken (or tofu) is cooked.</li>\n  <li>Serve with jasmine rice and a sprinkle of coriander.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>In a large wok, brown the chicken until golden, then turn the heat down and gently cook the garlic. Add the chopped green beans and stir.</li>\n<li>Add the coconut milk, green curry paste and fish sauce. Mix well and slowly simmer.</li>\n<li>Add the chopped mushrooms and simmer until the chicken (or tofu) is cooked.</li>\n<li>Serve with jasmine rice and a sprinkle of coriander.</li>\n</ol>"
    },
    "summary": {
      "value": "A quick and easy version of the classic Thai green curry. Perfect for a midweek meal!",
      "format": "basic_html",
      "processed": "<p>A quick and easy version of the classic Thai green curry. Perfect for a midweek meal!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "A traditional bowl of creamy, aromatic Thai green curry with chunks of chicken in a small bowl with jasmine rice",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 13
          },
          "url": "/sites/default/files/thai-green-curry-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

