{
  "key": "/recipe/8",
  "nid": 8,
  "name": "recipe",
  "url": "recipes/crema-catalana/",
  "title": "Crema catalana",
  "recipe_category": [
    "recipe_category-30"
  ],
  "tags": [
    "tags-13",
    "tags-28"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "medium",
    "ingredients": [
      "1l milk",
      " 200g sugar",
      " 6 egg yolks",
      " 30g cornstarch",
      " 1 cinnamon stick",
      " 1 piece lemon peel"
    ],
    "number_of_servings": 8,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Mix the egg yolks, sugar, and cornstarch with 1/3 of the milk.</li>\n  <li>In a saucepan, boil 2/3 of the milk with the lemon peel and cinnamon.</li>\n  <li>After 3 minutes, remove from the heat and take out the lemon and cinnamon.</li>\n  <li>Slowly add the egg mixture to the hot milk through a strainer to ensure there are no lumps.</li>\n  <li>Return it to the heat until it boils, stirring constantly.</li>\n  <li>Once the mixture has begun to thicken, remove from the heat and put it into individual bowls to cool.</li>\n  <li>For an authentic finish, sprinkle with sugar and brown with a blowtorch or under a preheated broiler to caramelize.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Mix the egg yolks, sugar, and cornstarch with 1/3 of the milk.</li>\n<li>In a saucepan, boil 2/3 of the milk with the lemon peel and cinnamon.</li>\n<li>After 3 minutes, remove from the heat and take out the lemon and cinnamon.</li>\n<li>Slowly add the egg mixture to the hot milk through a strainer to ensure there are no lumps.</li>\n<li>Return it to the heat until it boils, stirring constantly.</li>\n<li>Once the mixture has begun to thicken, remove from the heat and put it into individual bowls to cool.</li>\n<li>For an authentic finish, sprinkle with sugar and brown with a blowtorch or under a preheated broiler to caramelize.</li>\n</ol>"
    },
    "summary": {
      "value": "Enjoy this sweet recipe for one of the oldest desserts in Europe. It requires very few ingredients!",
      "format": "basic_html",
      "processed": "<p>Enjoy this sweet recipe for one of the oldest desserts in Europe. It requires very few ingredients!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Typical Catalan dessert made from cream and egg yolks, covered with a traditional layer of caramelized sugar to provide a crispy contrast",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 15
          },
          "url": "/sites/default/files/crema-catalana-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

