{
  "key": "/article/11",
  "nid": 11,
  "name": "article",
  "url": "articles/prueba-y-cultiva-tus-propias-hierbas/",
  "title": "Prueba y cultiva tus propias hierbas",
  "tags": [
    "tags-14",
    "tags-23",
    "tags-16"
  ],
  "fields": {
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Hierbas frescas cortadas incluyendo menta, perejil, tomillo y eneldo.",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 20
          },
          "url": "/sites/default/files/home-grown-herbs.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

<p>No hay nada como tener tu propio suministro de hierbas frescas a mano y listas para ser usadas mientras cocinas. Tanto si tienes un gran jardín como un pequeño alféizar en la cocina, siempre hay espacio suficiente para un cultivo casero.</p>
<h2>Exteriores</h2>
<h3>Menta</h3>
<p>La menta es una gran planta para cultivo casero ya que es resistente y prácticamente crece en cualquier tipo de tierra. La menta es un cultivo que puede descontrolarse, así que mantenla cercada en una maceta o podría extenderse por todo tu jardín.</p>
<h3>Salvia</h3>
<p>Al igual que la menta, la salvia es otra planta que crece de forma descontrolada y puede hacerse con tu jardín si la dejas. Altamente aromática, la planta de la salvia se puede plantar en una maceta o en un lecho de flores con tierra seca. La mejor forma de almacenar las hierbas es secarlas al sol y guardarlas dentro de un recipiente cerrado en un armario fresco y oscuro.</p>
<h3>Romero</h3>
<p>La planta del romero crece en forma de hermosos arbustos. Se puede cultivar fácilmente a partir de esquejes. No aguanta las temperaturas muy frías así que hay que plantarla cerca de la casa para protegerlas del frío. Crece bien en maceta ya que le gusta el suelo seco, pero puede sobrevivir también sin problema en el suelo. Si vas a podar el romero para mejorar su forma, guarda las ramas y cuélgalas boca abajo para preservar su sabor y usarlas en tus platos.</p>
<h2>Interiores</h2>
<h3>Albahaca</h3>
<p>Perfecta para un lugar al sol en el alféizar de la ventana de la cocina. La albahaca es una planta anual, así que morirá en otoño por lo que es una buena idea recogerla en verano y secarla. Una vez cortada, la albahaca se mantiene fresca más tiempo si se pone en agua (como se hace con las flores frescas). Otra buena manera de almacenar la albahaca es hacer pesto con ella.</p>
<h3>Cebollino</h3>
<p>El cebollino es una hierba versátil, que crece sin problema en interiores. Asegurate de que la planta se riega bien y recibe mucha luz. Recuerda recortar regularmente la planta para prevenir que salgan flores y la planta crezca más.</p>
<h3>Cilantro</h3>
<p>El cilantro puede crecer en interiores, pero a diferencia de otras hierbas, no soporta la luz directa del sol. Si tienes una ventana en la cocina orientada al sur no es un buen lugar para colocarla. Aunque no necesita tanta agua como la albahaca, al cilantro no le gusta la tierra seca así que acuérdate de regarla. El cilantro cortado se almacena mejor en el frigorífico.</p>
