{
  "key": "/article/15",
  "nid": 15,
  "name": "article",
  "url": "articles/un-aplauso-para-las-zanahorias/",
  "title": "Un aplauso para las zanahorias",
  "tags": [
    "tags-6",
    "tags-28",
    "tags-15"
  ],
  "fields": {
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Zanahorias moradas, naranjas, amarillas y blancas.",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 28
          },
          "url": "/sites/default/files/heritage-carrots.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

<p>¡Un aplauso por la humilde zanahoria! Estas verduras «diarias», dulces y saludables tienen todo lo que necesitas. Tienen un gran sabor, un color fantástico y, si eres uno de los que creen en la historia antigua, incluso pueden ayudarte a ver mejor en la oscuridad.</p>
<p>¿A quién no le gusta cocinar con esta raíz super versátil? Las asamos, las hervimos, las trituramos en sopas y las rallamos en ensaladas. La humilde zanahoria tiene que ser una de nuestras opciones favoritas de verduras y se ha cultivado durante miles de años. Pero en ese entonces era más probable que encontraras una zanahoria morada, roja, amarilla o blanca y no la naranja con la que hoy estamos tan familiarizados.</p>
<h2>¿Entonces qué pasó? ¿Cuándo el naranja se convirtió en el color preferido?</h2>
<p>Fueron los holandeses durante el siglo XVII quienes cultivaron e hicieron popular la variedad naranja, probablemente debido a su color brillante y niveles más altos de betacaroteno. También se ha sugerido que fueron cultivadas en homenaje a William de Orange, quien dirigió la lucha durante la batalla holandesa por la independencia.</p>
<p>Por la razón que sea, la versión naranja se ha convertido en la variedad dominante, pero busque variedades &lsquo;tradicionales&rsquo; en los mercados de agricultores y en las tiendas de abarrotes, su mezcla de púrpura, amarillo, naranja y blanco son especialmente atractivas para cocinar y se ven muy bien como guarnición.</p>
<h2>Nutrición</h2>
<p>Zanahorias son ricas en betacaroteno que su cuerpo convierte en vitamina A. A menudo es difícil saber si cocinar verduras aumentará o reducirá su valor nutritivo y, lamentablemente, no hay una regla simple. Pero en el caso de las zanahorias, la nutrición se potencia al consumirlas cocidas. De hecho, solo se necesitan 100 gramos de zanahorias para obtener más que su valor diario de vitamina A.</p>
<h2>Consígalas en su mejor momento</h2>
<p>Las zanahorias jóvenes, cosechadas cuando son pequeñas, tienen un sabor especialmente dulce y son absolutamente deliciosas. Para cocinarlos, puede saltearlos y simplemente lavarlos y cocerlos al vapor durante unos minutos. Las zanahorias sabrán mejor cuando están frescas, así que asegúrese de que sean firmes y de colores brillantes cuando las compre.</p>
<h2>¿Y eso de las zanahorias que te ayudan a ver mejor en la oscuridad?</h2>
<p>Por supuesto que es un mito. Durante la Segunda Guerra Mundial, el Ministerio de Alimentos del Reino Unido promocionó las zanahorias como un vegetal súper saludable que mejoraría su capacidad para ver durante los apagones y como una explicación para las misiones nocturnas exitosas de los pilotos de caza del Reino Unido. En realidad, la única verdad en la conexión entre las zanahorias y la vista mejorada de los ojos es que la vitamina A sí ayuda a mantener la visión.</p>
