{
  "key": "/article/16",
  "nid": 16,
  "name": "article",
  "url": "articles/percances-al-hornear-nuestros-consejos-para-solucionar-problemas/",
  "title": "Percances al hornear - nuestros consejos para solucionar los problemas",
  "tags": [
    "tags-3",
    "tags-17"
  ],
  "fields": {
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Un delicioso brownie de chocolate",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 30
          },
          "url": "/sites/default/files/chocolate-brownie-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

<p>Sigues la receta, pesas todos tus ingredientes, usas la temperatura correcta del horno y te tomas tu tiempo y aún así, tu horneado sale con un fondo empapado, no se eleva o simplemente tiene un sabor horrible. Hemos creado una lista de los problemas de horneado más frustrantes y las técnicas que puedes utilizar para tratar de evitarlos.</p>
<h2>Tu pastel no subió</h2>
<p>Bajo ninguna circunstancia abras la puerta del horno en medio del tiempo de cocción. El calor saldrá, destruyendo la reacción química que tiene lugar dentro de tu pastel. Tu agente elevador necesita el calor para activarse y podrías matarlo.</p>
<h2>Tu pastel es chicloso y correoso</h2>
<p>Si tu esponja ligero tiene la consistencia de un neumático de repuesto, es posible que hayas mezclado demasiado la masa. Mantén la ligereza dentro de la mezcla del bizcocho añadiendo cuidadosa y suavemente los ingredientes y sólo hasta el punto en que se mezclen. Si se bate demasiado, el gluten de la harina comenzará a salir y estarás haciendo pan en lugar de pastel.</p>
<h2>Tus galletas se quemaron</h2>
<p>Un gran truco es usar utensilios para hornear de colores claros, en lugar de negros. Es menos probable que absorba el calor y lo transfiera a la parte inferior de tus galletas. Usar papel para hornear también ayudará con esto. Además, usar demasiada azúcar puede provocar que tus galletas se oscurezcan demasiado y les dé un aspecto caramelizado</p>
<h2>Parte superior de tu pastel o pan partida</h2>
<p>Es muy probable que tu horno esté demasiado caliente. Si sospechas que tu horno no mantiene la temperatura correcta, invierte en un termómetro y revísalo regularmente durante la cocción. Con el pan, mezclar la masa demasiado puede resultar en una parte superior agrietada o partida.</p>
<h2>El temido fondo empapado</h2>
<p>Como se mencionó anteriormente, el color de tu sartén es importante. En este caso, una sartén oscura aumentará el calor en la parte inferior y le dará a esa parte inferior el crujiente que deseas. Si estás usando hojaldre, realmente necesitas pre-hornearlo. Poner tu pastel hacia la parte inferior del horno aumentará el calor que llega a esa parte.</p>
<h2>Tu pastel se ha encogido</h2>
<p>Simplemente intentaste hacer que se estirara demasiado. Al laminar, no intentes hacerla demasiado delgada o demasiado grande y al colocarla sobre la sartén, permite que se asiente por sí sola sin estirarla para que encaje. O simplemente añade más masa - ¡a todo el mundo le encantan los pasteles de todos modos!</p>
