{
  "key": "/recipe/1",
  "nid": 1,
  "name": "recipe",
  "url": "recipes/quiche-mediterráneo-profundo/",
  "title": "Quiche mediterráneo profundo",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-22",
    "tags-13"
  ],
  "fields": {
    "cooking_time": 30,
    "difficulty": "medium",
    "ingredients": [
      "Para la masa:",
      "280g harina normal",
      "140g mantequilla",
      "Agua fría",
      "Para el relleno:",
      "1 cebolla",
      "2 dientes ajo",
      "Medio calabación",
      "450ml leche de soja",
      "500g queso parmesano",
      "2 huevos",
      "200g tomate deshidratado",
      "100g queso feta"
    ],
    "number_of_servings": 8,
    "preparation_time": 40,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Precaliente el horno a 200°C. Empezando por la pastelería; Frote la harina y la mantequilla en un tazón hasta que se desmoronen como migas de pan. Agregue el agua, poco a poco, hasta que forme una masa.</li>\n  <li>Extiende la masa sobre una tabla enharinada y extiende suavemente sobre tu molde. Coloque en la nevera durante 20 minutos antes de hornear a ciegas durante otros 10.</li>\n  <li>Mientras la masa se está enfriando, corte y cocine suavemente las cebollas, el ajo y el calabacín.</li>\n  <li>En un tazón grande, agregue la leche de soya, la mitad del queso parmesano y los huevos. Mezclar suavemente.</li>\n  <li>Una vez que la masa esté cocida, esparza las cebollas, el ajo y los tomates secos sobre la base y vierta la mezcla de los huevos. Espolvoree el queso parmesano restante y coloque cuidadosamente el feta sobre la parte superior. Hornear durante 30 minutos o hasta que estén doradas.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Precaliente el horno a 200°C. Empezando por la pastelería; Frote la harina y la mantequilla en un tazón hasta que se desmoronen como migas de pan. Agregue el agua, poco a poco, hasta que forme una masa.</li>\n<li>Extiende la masa sobre una tabla enharinada y extiende suavemente sobre tu molde. Coloque en la nevera durante 20 minutos antes de hornear a ciegas durante otros 10.</li>\n<li>Mientras la masa se está enfriando, corte y cocine suavemente las cebollas, el ajo y el calabacín.</li>\n<li>En un tazón grande, agregue la leche de soya, la mitad del queso parmesano y los huevos. Mezclar suavemente.</li>\n<li>Una vez que la masa esté cocida, esparza las cebollas, el ajo y los tomates secos sobre la base y vierta la mezcla de los huevos. Espolvoree el queso parmesano restante y coloque cuidadosamente el feta sobre la parte superior. Hornear durante 30 minutos o hasta que estén doradas.</li>\n</ol>"
    },
    "summary": {
      "value": "Un quiche de inspiración italiana con tomates secos y calabacín. Una comida ligera perfecta para un día de verano.",
      "format": "basic_html",
      "processed": "<p>Un quiche de inspiración italiana con tomates secos y calabacín. Una comida ligera perfecta para un día de verano.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Un delicioso quiche mediterráneo de capas profundas con guarnición de albahaca.",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 2
          },
          "url": "/sites/default/files/mediterranean-quiche-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

