{
  "key": "/recipe/10",
  "nid": 10,
  "name": "recipe",
  "url": "recipes/borscht-con-costillas-de-cerdo/",
  "title": "Borscht con costillas de cerdo",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-25"
  ],
  "fields": {
    "cooking_time": 60,
    "difficulty": "medium",
    "ingredients": [
      "400-500g de costillas de cerdo",
      " 2 remolachas",
      " 2 tomates",
      " ¼ de raíz de apio",
      " ¼ de repollo",
      " 3-4 patatas medianas",
      " 1 zanahoria",
      " 1 cebolla",
      " 1-2 peras ahumadas",
      " 2 hojas de laurel",
      " 3 guisantes de pimienta de Jamaica",
      " 1 cabeza de ajo",
      " 1 pimiento morrón",
      " 200ml de jugo de tomate",
      " 30g de mantequilla",
      " 2 cucharadas de pasta de tomate",
      " 3l de agua",
      " Crema agria",
      " 1 lata de alubias",
      " Sal al gusto"
    ],
    "number_of_servings": 8,
    "preparation_time": 30,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Precaliente el horno a 400°F/200°C, luego coloque las costillas de cerdo en su interior y hornéelas durante 30 min. Lave la raíz del apio, pero no la pele. Coja la zanahoria y córtela en trozos medianos.</li>\n  <li>Ponga las costillas de cerdo al horno en una olla y añada 3 litros de agua. Agregue la raíz de apio cortada y la zanahoria junto con la mitad de la cebolla sin pelar. Lleve la olla a ebullición. Después de eso, caliente a fuego medio y siga hirviendo durante 30 min.</li>\n  <li>El corazón del borscht son las verduras asadas previamente. Pique el pimiento morrón y haga lo mismo con los tomates y la cebolla. Coloque la mantequilla en una cacerola y agregue las verduras. Cocínelos a fuego moderado para ablandar los vegetales, luego agregue dos cucharadas de pasta de tomate, baje el fuego y siga guisándolos durante 5 a 7 minutos. Además, ralle una remolacha y póngala en la cacerola también y cocínelas todas juntas durante 3-4 minutos más.</li>\n  <li>Corte un diente de ajo por la mitad y agréguelo a la olla. Triture el repollo y déjelo a un lado para agregarlo más tarde.</li>\n  <li>Se necesita jugo de remolacha, así que tome la segunda remolacha y exprima todo el jugo. Si no tiene un exprimidor de jugo, puede rallar una remolacha y exprimirla a través del colador. Luego agregue el jugo junto con la pimienta de Jamaica, las hojas de laurel y varias pizcas de sal (a su gusto).</li>\n  <li>También puede agregar frijoles enlatados: es una adición opcional.</li>\n  <li>Ponga las peras ahumadas en una olla. Harán que el plato huela a humo.</li>\n  <li>Felicitaciones, nuestro borscht está casi listo. Ahora puede agregar repollo rallado y en cinco minutos puede dejar la olla a un lado del fuego. Guarde el borscht durante 30 minutos.</li>\n</ol>\n<p>Sirva el borscht junto con una cucharada de crema agria y eneldo picado. Ponga el resto del borscht en la nevera y recuerde que sabe mejor al día siguiente.</p>\n",
      "format": "basic_html",
      "processed": "<ol><li>Precaliente el horno a 400°F/200°C, luego coloque las costillas de cerdo en su interior y hornéelas durante 30 min. Lave la raíz del apio, pero no la pele. Coja la zanahoria y córtela en trozos medianos.</li>\n<li>Ponga las costillas de cerdo al horno en una olla y añada 3 litros de agua. Agregue la raíz de apio cortada y la zanahoria junto con la mitad de la cebolla sin pelar. Lleve la olla a ebullición. Después de eso, caliente a fuego medio y siga hirviendo durante 30 min.</li>\n<li>El corazón del borscht son las verduras asadas previamente. Pique el pimiento morrón y haga lo mismo con los tomates y la cebolla. Coloque la mantequilla en una cacerola y agregue las verduras. Cocínelos a fuego moderado para ablandar los vegetales, luego agregue dos cucharadas de pasta de tomate, baje el fuego y siga guisándolos durante 5 a 7 minutos. Además, ralle una remolacha y póngala en la cacerola también y cocínelas todas juntas durante 3-4 minutos más.</li>\n<li>Corte un diente de ajo por la mitad y agréguelo a la olla. Triture el repollo y déjelo a un lado para agregarlo más tarde.</li>\n<li>Se necesita jugo de remolacha, así que tome la segunda remolacha y exprima todo el jugo. Si no tiene un exprimidor de jugo, puede rallar una remolacha y exprimirla a través del colador. Luego agregue el jugo junto con la pimienta de Jamaica, las hojas de laurel y varias pizcas de sal (a su gusto).</li>\n<li>También puede agregar frijoles enlatados: es una adición opcional.</li>\n<li>Ponga las peras ahumadas en una olla. Harán que el plato huela a humo.</li>\n<li>Felicitaciones, nuestro borscht está casi listo. Ahora puede agregar repollo rallado y en cinco minutos puede dejar la olla a un lado del fuego. Guarde el borscht durante 30 minutos.</li>\n</ol><p>Sirva el borscht junto con una cucharada de crema agria y eneldo picado. Ponga el resto del borscht en la nevera y recuerde que sabe mejor al día siguiente.</p>\n"
    },
    "summary": {
      "value": "Puedo hablar de borscht todo el día. Cada familia ucraniana tiene su receta: con frijoles, sin repollo, etc. Sin embargo, todas son válidas: no existe una receta 'correcta' unificada. La receta que está a punto de leer y cocinar es borscht con costillas de cerdo. Disfrútala. ¡Este plato le hará sentir una verdadera alma ucraniana!",
      "format": "basic_html",
      "processed": "<p>Puedo hablar de borscht todo el día. Cada familia ucraniana tiene su receta: con frijoles, sin repollo, etc. Sin embargo, todas son válidas: no existe una receta 'correcta' unificada. La receta que está a punto de leer y cocinar es borscht con costillas de cerdo. Disfrútala. ¡Este plato le hará sentir una verdadera alma ucraniana!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Sopa tradicional ucraniana de remolacha, tomates y costillas de cerdo",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 42
          },
          "url": "/sites/default/files/borscht-with-pork-ribs-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

