{
  "key": "/recipe/2",
  "nid": 2,
  "name": "recipe",
  "url": "recipes/bizcochos-veganos-de-chocolate-y-nueces/",
  "title": "Bizcochos veganos de chocolate y nueces",
  "recipe_category": [
    "recipe_category-32"
  ],
  "tags": [
    "tags-3",
    "tags-7",
    "tags-27",
    "tags-9"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "medium",
    "ingredients": [
      "72g aceite de girasol",
      " 80g de chocolate negro vegano",
      " 170g de harina",
      " 80g de harina de coco",
      " 4g de levadura",
      " 36g de cacao en polvo",
      " 100g de azúcar en polvo",
      " 45g de sirope de arce",
      " 1g cucharadita de sal marina",
      " 5g de extracto de vainilla",
      " 230ml de leche de soja orgánica sin edulcorar",
      " 100g de nueces pecanas",
      " 80g de nueces"
    ],
    "number_of_servings": 12,
    "preparation_time": 20,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Engrasar una bandeja de hornear de unos 20 cm (o tamaño similar) con un poco del aceite de girasol y cubrir con papel de hornear.</li>\n  <li>Precalentar el horno a 180°C.</li>\n  <li>Trocear aproximadamente 1/3 del chocolate en pedazos pequeños. Trocear 2/3 de las nueces pecanas y mezclar con el chocolate troceado. Apartar.</li>\n  <li>Trocear el resto de las nueces pecanas y las avellanas, que se usarán en la parte de arriba de los brownies. Mezclar y apartar.</li>\n  <li>Derretir el resto del chocolate en un tazón resistente al calor que colocaremos encima de un pequeño cazo con unos 5cm de agua hirviendo. No permitir que el fondo del tazón con el chocolate toque el agua. Remover el chocolate hasta que se derrita completamente. Una vez derretido, apartar y dejar enfriar un poco.</li>\n  <li>Mientras se derrite el chocolate tamizar la harina, el cacao en polvo y la harina de coco en un tazón grande. Mezclar. Una vez mezclado, agregue el polvo de hornear y el azúcar.</li>\n  <li>Una vez se haya enfriado un poco el chocolate, añadir lentamente el extracto de vainilla, el aceite de girasol, la leche de soja y el chocolate derretido en la mezcla de harina y cacao.</li>\n  <li>Añadir el chocolate y las nueces pecanas que habíamos troceado previamente, asegurándonos de que están bien repartidas por toda la mezcla.</li>\n  <li>Poner la mezcla en el molde de hornear y repartir uniformemente con la ayuda de una espátula.</li>\n  <li>Esparcir las nueces pecanas y avellanas troceadas por encima y hornear de 18 a 23 minutos en la parte central del horno.</li>\n  <li>Retirar del horno y dejar enfriar durante unos 45 minutos. Con mucho cuidado usar los bordes del papel de hornear para separar el brownie del molde y depositarlo en una tabla de cortar. Cortar en porciones iguales usando un cuchillo afilado.</li>\n  <li>Servir los brownies solos o acompañados de crema vegana o helado.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Engrasar una bandeja de hornear de unos 20 cm (o tamaño similar) con un poco del aceite de girasol y cubrir con papel de hornear.</li>\n<li>Precalentar el horno a 180°C.</li>\n<li>Trocear aproximadamente 1/3 del chocolate en pedazos pequeños. Trocear 2/3 de las nueces pecanas y mezclar con el chocolate troceado. Apartar.</li>\n<li>Trocear el resto de las nueces pecanas y las avellanas, que se usarán en la parte de arriba de los brownies. Mezclar y apartar.</li>\n<li>Derretir el resto del chocolate en un tazón resistente al calor que colocaremos encima de un pequeño cazo con unos 5cm de agua hirviendo. No permitir que el fondo del tazón con el chocolate toque el agua. Remover el chocolate hasta que se derrita completamente. Una vez derretido, apartar y dejar enfriar un poco.</li>\n<li>Mientras se derrite el chocolate tamizar la harina, el cacao en polvo y la harina de coco en un tazón grande. Mezclar. Una vez mezclado, agregue el polvo de hornear y el azúcar.</li>\n<li>Una vez se haya enfriado un poco el chocolate, añadir lentamente el extracto de vainilla, el aceite de girasol, la leche de soja y el chocolate derretido en la mezcla de harina y cacao.</li>\n<li>Añadir el chocolate y las nueces pecanas que habíamos troceado previamente, asegurándonos de que están bien repartidas por toda la mezcla.</li>\n<li>Poner la mezcla en el molde de hornear y repartir uniformemente con la ayuda de una espátula.</li>\n<li>Esparcir las nueces pecanas y avellanas troceadas por encima y hornear de 18 a 23 minutos en la parte central del horno.</li>\n<li>Retirar del horno y dejar enfriar durante unos 45 minutos. Con mucho cuidado usar los bordes del papel de hornear para separar el brownie del molde y depositarlo en una tabla de cortar. Cortar en porciones iguales usando un cuchillo afilado.</li>\n<li>Servir los brownies solos o acompañados de crema vegana o helado.</li>\n</ol>"
    },
    "summary": {
      "value": "Exquisitos brownies veganos de chocolate con nueces. Estas delicias contienen un toque de coco haciéndolos el placer perfecto. Servir calientes acompañados de un poco de helado de vainilla sin lactosa.",
      "format": "basic_html",
      "processed": "<p>Exquisitos brownies veganos de chocolate con nueces. Estas delicias contienen un toque de coco haciéndolos el placer perfecto. Servir calientes acompañados de un poco de helado de vainilla sin lactosa.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Una pila de brownies de chocolate y nuez, rociados con migas de nuez y nuez triturada, recién sacados del horno",
            "title": null,
            "width": 770,
            "height": 512,
            "drupal_internal__target_id": 4
          },
          "url": "/sites/default/files/vegan-chocolate-nut-brownies.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

