{
  "key": "/recipe/3",
  "nid": 3,
  "name": "recipe",
  "url": "recipes/pasta-vegetariana-horno-super-facil/",
  "title": "Pasta vegetariana al horno súper fácil",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-28",
    "tags-21",
    "tags-2"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "400g pasta de trigo integral",
      " 1 cebolla",
      " 2 dientes de ajo",
      " 1 paquete de salchichas vegetarianas",
      " 400g tomates picados",
      " 50g rodajas de tomates secados al sol",
      " 1 pizca de azúcar",
      " 45g pesto rojo",
      " 50g queso cheddar",
      " Albahaca o hierbas mixtas",
      " 100g queso mozzarella"
    ],
    "number_of_servings": 4,
    "preparation_time": 5,
    "recipe_instruction": {
      "value": "<ol>\n  <li>En una sartén grande, hervir la pasta en abundante agua hasta que esté cocida.</li>\n  <li>Mientras se cocina la pasta, pica la cebolla y fríela suavemente con el ajo en un poco de aceite hasta que esté suave y la cebolla se vea clara.</li>\n  <li>Añadir las salchichas vegetarianas. Una vez dorado, retirar y picar en trozos grandes.</li>\n  <li>Pon las salchichas en la sartén y agrega los tomates, el azúcar, el pesto y los tomates secos. Sazone al gusto. Cocine a fuego lento hasta que la mayor parte del agua de los tomates picados se haya ido.</li>\n  <li>Escurrir la pasta y agregar a la sartén con las salchichas y los tomates. Agregue la mitad del queso cheddar y transfierelo a un plato poco profundo. Espolvoree con el resto del queso cheddar y salpique la mozzarella en rodajas por encima.</li>\n  <li>Asar durante 10 minutos o hasta que el queso se derrita y comience a dorarse. Servir con hojas de albahaca.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>En una sartén grande, hervir la pasta en abundante agua hasta que esté cocida.</li>\n<li>Mientras se cocina la pasta, pica la cebolla y fríela suavemente con el ajo en un poco de aceite hasta que esté suave y la cebolla se vea clara.</li>\n<li>Añadir las salchichas vegetarianas. Una vez dorado, retirar y picar en trozos grandes.</li>\n<li>Pon las salchichas en la sartén y agrega los tomates, el azúcar, el pesto y los tomates secos. Sazone al gusto. Cocine a fuego lento hasta que la mayor parte del agua de los tomates picados se haya ido.</li>\n<li>Escurrir la pasta y agregar a la sartén con las salchichas y los tomates. Agregue la mitad del queso cheddar y transfierelo a un plato poco profundo. Espolvoree con el resto del queso cheddar y salpique la mozzarella en rodajas por encima.</li>\n<li>Asar durante 10 minutos o hasta que el queso se derrita y comience a dorarse. Servir con hojas de albahaca.</li>\n</ol>"
    },
    "summary": {
      "value": "Una pasta al horno es la comida más fácil y saludable. Este delicioso plato es súper rápido de preparar y una comida ideal entre semana para toda la familia.",
      "format": "basic_html",
      "processed": "<p>Una pasta al horno es la comida más fácil y saludable. Este delicioso plato es súper rápido de preparar y una comida ideal entre semana para toda la familia.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Plato de pasta con salchichas vegetarianas y cubierto con queso mozzarella y albahaca",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 6
          },
          "url": "/sites/default/files/veggie-pasta-bake-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

