{
  "key": "/recipe/4",
  "nid": 4,
  "name": "recipe",
  "url": "recipes/sopa-de-berro/",
  "title": "Sopa de berro",
  "recipe_category": [
    "recipe_category-33"
  ],
  "tags": [
    "tags-25",
    "tags-28"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "3 racimos de berros",
      "3 patatas",
      "3 cebollas",
      "2 puerros",
      "800ml de caldo",
      "75g de crème fraîche"
    ],
    "number_of_servings": 4,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Prepare las verduras pelando y cortando las patatas y picando finamente las cebollas, los puerros y el ajo.</li>\n  <li>Caliente un poco de aceite en una sartén y agregue las verduras picadas, cocinándolas suavemente durante unos 5 minutos.</li>\n  <li>Agregue el caldo de verduras a la misma sartén y aumente el fuego hasta que hierva a fuego lento, agregando el berro después de unos 10 minutos. Cocine hasta que todas las verduras estén blandas y se muelan fácilmente.</li>\n  <li>Licuar la sopa con una batidora de mano o en un mezclador, hasta que esté suave.</li>\n  <li>Si la sopa se ha enfriado demasiado mientras se está licuando, agregue la crème fraîche y vuelva a calentarla antes de servirla (de lo contrario, sírvala de inmediato). Sazone a su gusto.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Prepare las verduras pelando y cortando las patatas y picando finamente las cebollas, los puerros y el ajo.</li>\n<li>Caliente un poco de aceite en una sartén y agregue las verduras picadas, cocinándolas suavemente durante unos 5 minutos.</li>\n<li>Agregue el caldo de verduras a la misma sartén y aumente el fuego hasta que hierva a fuego lento, agregando el berro después de unos 10 minutos. Cocine hasta que todas las verduras estén blandas y se muelan fácilmente.</li>\n<li>Licuar la sopa con una batidora de mano o en un mezclador, hasta que esté suave.</li>\n<li>Si la sopa se ha enfriado demasiado mientras se está licuando, agregue la crème fraîche y vuelva a calentarla antes de servirla (de lo contrario, sírvala de inmediato). Sazone a su gusto.</li>\n</ol>"
    },
    "summary": {
      "value": "Una sopa maravillosamente simple y ligera, que aprovecha al máximo los productos locales de temporada.",
      "format": "basic_html",
      "processed": "<p>Una sopa maravillosamente simple y ligera, que aprovecha al máximo los productos locales de temporada.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Sopa de berros con una ramita de cilantro como guarnición en un tazón blanco con borde verde.",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 8
          },
          "url": "/sites/default/files/watercress-soup-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

