{
  "key": "/recipe/5",
  "nid": 5,
  "name": "recipe",
  "url": "recipes/pastel-victoria/",
  "title": "Pastel Victoria",
  "recipe_category": [
    "recipe_category-30"
  ],
  "tags": [
    "tags-5"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "225g mantequilla o margarina",
      "225g azúcar en polvo",
      "225g harina autoniveladora",
      "4 huevos",
      "1 cucharadita polvo de hornear",
      "3 cucharadas mermelada para el relleno",
      "Azúcar glas para espolvorear la parte superior",
      "Crema para servir"
    ],
    "number_of_servings": 10,
    "preparation_time": 20,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Precaliente el horno a 350°F/180°C y engrase dos moldes para pasteles de 8 pulgadas.</li>\n  <li>En un tazón grande, mezcle la mantequilla y el azúcar, luego agregue los huevos, la harina y el polvo para hornear.</li>\n  <li>Distribuya la mezcla uniformemente entre los 2 moldes para pasteles.</li>\n  <li>Coloque ambas moldes en el medio del horno precalentado durante 20 minutos, antes de verificar con un cuchillo. Cuando el cuchillo salga limpio, ¡está listo!</li>\n  <li>Permita que se enfríe en los moldes antes de colocarlos en un estante de enfriamiento.</li>\n  <li>Agregue la mermelada, apile, espolvoree con azúcar glas y sirva con una cucharada grande de crema. ¡Disfruta!</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Precaliente el horno a 350°F/180°C y engrase dos moldes para pasteles de 8 pulgadas.</li>\n<li>En un tazón grande, mezcle la mantequilla y el azúcar, luego agregue los huevos, la harina y el polvo para hornear.</li>\n<li>Distribuya la mezcla uniformemente entre los 2 moldes para pasteles.</li>\n<li>Coloque ambas moldes en el medio del horno precalentado durante 20 minutos, antes de verificar con un cuchillo. Cuando el cuchillo salga limpio, ¡está listo!</li>\n<li>Permita que se enfríe en los moldes antes de colocarlos en un estante de enfriamiento.</li>\n<li>Agregue la mermelada, apile, espolvoree con azúcar glas y sirva con una cucharada grande de crema. ¡Disfruta!</li>\n</ol>"
    },
    "summary": {
      "value": "Un tradicional bizcocho Victoria, perfecto para cualquier tarde con una taza de té.",
      "format": "basic_html",
      "processed": "<p>Un tradicional bizcocho Victoria, perfecto para cualquier tarde con una taza de té.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Una esponja Victoria clásica, sin cortar, con un relleno profundo de crema de mantequilla y mermelada",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 10
          },
          "url": "/sites/default/files/victoria-sponge-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

