{
  "key": "/recipe/6",
  "nid": 6,
  "name": "recipe",
  "url": "recipes/pizza-sin-gluten/",
  "title": "Pizza sin gluten",
  "recipe_category": [
    "recipe_category-31"
  ],
  "fields": {
    "cooking_time": 15,
    "difficulty": "medium",
    "ingredients": [
      "400g de harina sin gluten",
      " 125ml de agua caliente",
      " 125ml de Leche",
      " 1 de bolsita levadura",
      " 12g de azúcar",
      " 6g de Sal",
      " 32g de aceite de oliva",
      " 75g de tomate triturado",
      " 1 diente de ajo",
      " Albahaca fresca",
      " 200g de mozzarella",
      " 100g de rúcula",
      " 5 lonchas de jamón de Parma"
    ],
    "number_of_servings": 4,
    "preparation_time": 15,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Precaliente el horno a 425 ° F / 220 ° C. Mezcle un poco de la leche y el agua en un jarra. Agregue la levadura y el azúcar y apártalos.</li>\n  <li>Mezcle la harina, la sal y el aceite en un bol. Agregue lentamente el líquido de la jarra y forme una masa.</li>\n  <li>Rompa la masa por la mitad y dele forma de dos bases de pizza. Deje reposar durante unos 15 minutos, mientras hace la cobertura.</li>\n  <li>Extienda el tomate triturado sobre las bases de pizza, corte la albahaca y la rúcula y espolvoree sobre el tomate. Distribuya sobre la masa el jamón de Parma picado y agregue rebanadas gruesas de mozzarella por toda la pizza.</li>\n  <li>Hornee en la rejilla superior (con una bandeja debajo) de 10 a 12 minutos o hasta que la mozzarella esté burbujeando. Sazone con sal y pimienta y sirva.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Precaliente el horno a 425 ° F / 220 ° C. Mezcle un poco de la leche y el agua en un jarra. Agregue la levadura y el azúcar y apártalos.</li>\n<li>Mezcle la harina, la sal y el aceite en un bol. Agregue lentamente el líquido de la jarra y forme una masa.</li>\n<li>Rompa la masa por la mitad y dele forma de dos bases de pizza. Deje reposar durante unos 15 minutos, mientras hace la cobertura.</li>\n<li>Extienda el tomate triturado sobre las bases de pizza, corte la albahaca y la rúcula y espolvoree sobre el tomate. Distribuya sobre la masa el jamón de Parma picado y agregue rebanadas gruesas de mozzarella por toda la pizza.</li>\n<li>Hornee en la rejilla superior (con una bandeja debajo) de 10 a 12 minutos o hasta que la mozzarella esté burbujeando. Sazone con sal y pimienta y sirva.</li>\n</ol>"
    },
    "summary": {
      "value": "Una vistosa y simple pizza sin gluten, con deliciosa mozzarella y jamón de Parma. Puede convertirse fácilmente en vegetariana si quitamos el jamón.",
      "format": "basic_html",
      "processed": "<p>Una vistosa y simple pizza sin gluten, con deliciosa mozzarella y jamón de Parma. Puede convertirse fácilmente en vegetariana si quitamos el jamón.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Aceitunas, albahaca y mozzarella cubren una masa de pizza sin gluten con salsa de tomate.",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 12
          },
          "url": "/sites/default/files/pizza-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

