{
  "key": "/recipe/7",
  "nid": 7,
  "name": "recipe",
  "url": "recipes/curry-verde-tailandes/",
  "title": "Curry verde tailandés",
  "recipe_category": [
    "recipe_category-31"
  ],
  "fields": {
    "cooking_time": 15,
    "difficulty": "medium",
    "ingredients": [
      "400g de leche de coco",
      " 400g de pollo o tofu",
      " 15g de pasta de curry verde tailandés",
      " 1 diente de ajo",
      " 10g de salsa de pescado",
      " 400g de champiñones",
      " 200g de judías verdes",
      " Hojas de cilantro fresco",
      " Arroz jazmín"
    ],
    "number_of_servings": 4,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>En un wok grande, dorar el pollo, luego bajar el fuego y cocinar suavemente el ajo. Añadir las judías verdes picadas y revolver.</li>\n  <li>Añadir la leche de coco, la pasta de curry verde y la salsa de pescado. Mezclar bien y cocinar a fuego lento.</li>\n  <li>Agregar los champiñones picados y cocinar a fuego lento hasta que el pollo (o tofu) esté cocido.</li>\n  <li>Servir con arroz jazmín y una pizca de cilantro.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>En un wok grande, dorar el pollo, luego bajar el fuego y cocinar suavemente el ajo. Añadir las judías verdes picadas y revolver.</li>\n<li>Añadir la leche de coco, la pasta de curry verde y la salsa de pescado. Mezclar bien y cocinar a fuego lento.</li>\n<li>Agregar los champiñones picados y cocinar a fuego lento hasta que el pollo (o tofu) esté cocido.</li>\n<li>Servir con arroz jazmín y una pizca de cilantro.</li>\n</ol>"
    },
    "summary": {
      "value": "Una versión rápida y fácil del clásico curry verde tailandés. ¡Perfecto para una comida entre semana!",
      "format": "basic_html",
      "processed": "<p>Una versión rápida y fácil del clásico curry verde tailandés. ¡Perfecto para una comida entre semana!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Un tazón tradicional de curry verde tailandés aromático y cremoso, con trozos de pollo y verduras.",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 14
          },
          "url": "/sites/default/files/thai-green-curry-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

