{
  "key": "/recipe/8",
  "nid": 8,
  "name": "recipe",
  "url": "recipes/crema-catalana/",
  "title": "Crema catalana",
  "recipe_category": [
    "recipe_category-30"
  ],
  "tags": [
    "tags-13",
    "tags-28"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "medium",
    "ingredients": [
      "1l de Leche",
      " 200g de azúcar",
      " 6 yemas de huevo",
      " 30g de Maizena",
      " 1 rama de canela",
      " 1 La piel de un limón"
    ],
    "number_of_servings": 8,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Mezcle las yemas de huevo, el azúcar y la harina de maiz con ⅓ de la leche. En un cazo, hierve el resto de la leche con la ralladura de un limón y la canela.</li>\n  <li>Después de 3 minutos, aparte del fuego y quite el limón y la canela.</li>\n  <li>Ve añadiendo muy despacio la mezcla del huevo sobre la leche utilizando un colador para asegurarse que no hay grumos.</li>\n  <li>Coloque el cazo otra vez en el fuego y, sin dejar de remover, espere hasta que hierva.</li>\n  <li>Una vez que la mezcla ha empezado a espesar, apártalo del fuego y ponlo en recipientes individuales para que enfríe.</li>\n  <li>Para un resultado auténtico, esparza un poco de azúcar y caramelízalo con un soplete de cocina o bajo el gratinador del horno.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Mezcle las yemas de huevo, el azúcar y la harina de maiz con ⅓ de la leche. En un cazo, hierve el resto de la leche con la ralladura de un limón y la canela.</li>\n<li>Después de 3 minutos, aparte del fuego y quite el limón y la canela.</li>\n<li>Ve añadiendo muy despacio la mezcla del huevo sobre la leche utilizando un colador para asegurarse que no hay grumos.</li>\n<li>Coloque el cazo otra vez en el fuego y, sin dejar de remover, espere hasta que hierva.</li>\n<li>Una vez que la mezcla ha empezado a espesar, apártalo del fuego y ponlo en recipientes individuales para que enfríe.</li>\n<li>Para un resultado auténtico, esparza un poco de azúcar y caramelízalo con un soplete de cocina o bajo el gratinador del horno.</li>\n</ol>"
    },
    "summary": {
      "value": "Disfruta de esta dulce receta de uno de los postres más antiguos de Europa. ¡Requiere muy pocos ingredientes!",
      "format": "basic_html",
      "processed": "<p>Disfruta de esta dulce receta de uno de los postres más antiguos de Europa. ¡Requiere muy pocos ingredientes!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Postre típico catalán hecho de crema y yemas de huevo, cubierto con una capa tradicional de azúcar caramelizado para proporcionar un contraste crujiente.",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 16
          },
          "url": "/sites/default/files/crema-catalana-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

