{
  "key": "/recipe/9",
  "nid": 9,
  "name": "recipe",
  "url": "recipes/salsa-de-chile-ardiente/",
  "title": "Salsa de chile ardiente",
  "recipe_category": [
    "recipe_category-29"
  ],
  "tags": [
    "tags-28"
  ],
  "fields": {
    "cooking_time": 50,
    "difficulty": "easy",
    "ingredients": [
      "2 cebollas rojas",
      " 1 limón",
      " 2 limas",
      " 250ml vinagre de malta",
      " 7 dientes de ajo",
      " 1 pimiento verde",
      " 1 pimiento rojo",
      " 800g tomates cherry",
      " 30 chiles mezclados",
      " Aceite de oliva",
      " 1 cucharada pimienta negra molida",
      " 1 cucharada azúcar morena"
    ],
    "number_of_servings": 60,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Precaliente el horno a 400°F/200°C.</li>\n  <li>Picar finamente las cebollas rojas y sudar suavemente a fuego lento en aceite de oliva durante 5 minutos.</li>\n  <li>Pelar el ajo y agregarlo a las cebollas.</li>\n  <li>Mientras tanto, picar los pimientos en trozos de 1 pulgada. Agregue los pimientos y los tomates a un plato para asar, y frote con jugo de limón, aceite de oliva y pimienta negra. Transferir al horno y asar por 30 minutos.</li>\n  <li>Una vez que las cebollas y el ajo se hayan ablandado, pique y agregue los chiles, las semillas y todo. Mezclar bien y continuar friendo suavemente.</li>\n  <li>Lávese bien las manos después de manipular los chiles crudos.</li>\n  <li>Una vez que los tomates y los pimientos hayan terminado de asarse, agréguelos a la sartén. Cocine por al menos 10 minutos, rompiéndolos con un triturador o una batidora de mano mientras se cocinan a fuego lento. Una vez roto, mezclar el azúcar.</li>\n  <li>Transfiera la salsa a una licuadora y mezcle hasta que quede suave.</li>\n  <li>Regresa a la sartén y agrega el vinagre y el jugo de las limas.</li>\n  <li>Cocine por otros 10 minutos, luego deje enfriar.</li>\n  <li>Transfiera a frascos esterilizados y manténgalos refrigerados.</li>\n  <li>Dejar por lo menos dos semanas antes de la degustación.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Precaliente el horno a 400°F/200°C.</li>\n<li>Picar finamente las cebollas rojas y sudar suavemente a fuego lento en aceite de oliva durante 5 minutos.</li>\n<li>Pelar el ajo y agregarlo a las cebollas.</li>\n<li>Mientras tanto, picar los pimientos en trozos de 1 pulgada. Agregue los pimientos y los tomates a un plato para asar, y frote con jugo de limón, aceite de oliva y pimienta negra. Transferir al horno y asar por 30 minutos.</li>\n<li>Una vez que las cebollas y el ajo se hayan ablandado, pique y agregue los chiles, las semillas y todo. Mezclar bien y continuar friendo suavemente.</li>\n<li>Lávese bien las manos después de manipular los chiles crudos.</li>\n<li>Una vez que los tomates y los pimientos hayan terminado de asarse, agréguelos a la sartén. Cocine por al menos 10 minutos, rompiéndolos con un triturador o una batidora de mano mientras se cocinan a fuego lento. Una vez roto, mezclar el azúcar.</li>\n<li>Transfiera la salsa a una licuadora y mezcle hasta que quede suave.</li>\n<li>Regresa a la sartén y agrega el vinagre y el jugo de las limas.</li>\n<li>Cocine por otros 10 minutos, luego deje enfriar.</li>\n<li>Transfiera a frascos esterilizados y manténgalos refrigerados.</li>\n<li>Dejar por lo menos dos semanas antes de la degustación.</li>\n</ol>"
    },
    "summary": {
      "value": "Una rica y ardiente salsa de chile. Tenga cuidado al manejar chiles. ¡Y servir con moderación!",
      "format": "basic_html",
      "processed": "<p>Una rica y ardiente salsa de chile. Tenga cuidado al manejar chiles. ¡Y servir con moderación!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Una variedad iridiscente de chiles, cebollas y ajo, que suda lentamente a fuego lento",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 18
          },
          "url": "/sites/default/files/chili-sauce-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

