{
  "key": "/article/15",
  "nid": 15,
  "name": "article",
  "url": "articles/lets-hear-it-for-carrots/",
  "title": "Let's hear it for carrots",
  "tags": [
    "tags-6",
    "tags-28",
    "tags-15"
  ],
  "fields": {
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Purple, orange, yellow and white heritage carrots",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 27
          },
          "url": "/sites/default/files/heritage-carrots.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

<p>Let's hear it for the humble carrot! This sweet and healthy &lsquo;everyday&rsquo; veg packs it all in. Great flavor, fantastic color, and if you're one for believing the old story, they can even help you to see better in the dark.</p>
<p>Who doesn't love cooking with this super versatile root veg? We roast them, boil them, blend them into soups, and grate them into salads. The humble carrot has to be one of our favorite veg choices and it's been grown for thousands of years. But back then you were more likely to find a purple, red, yellow or white carrot and not the orange one we are all so familiar with today.</p>
<h2>So what happened? When did orange become the preferred color?</h2>
<p>It was the Dutch during the 17th century who cultivated and made popular the orange variety, most likely because of its brilliant color and higher levels of beta carotene. And it has also been suggested that they were cultivated in tribute to William of Orange, who led the struggle during the Dutch battle for independence.</p>
<p>For whatever reason, the orange variety has stuck but look out for the &lsquo;heritage&rsquo; varieties at farmers markets and grocers, their mix of purple, yellow, orange and white are especially appealing to cook with and look absolutely great served as a side dish.</p>
<h2>Nutrition</h2>
<p>Carrots are rich in beta carotene which your body converts into vitamin A. It's often tricky to know whether cooking vegetables will enhance or reduce their nutritious value and unfortunately there's no simple rule. But in the case of carrots, nutrition is enhanced by consuming them cooked. In fact, it only takes 100 grams of carrots to get more than your daily value of vitamin A.</p>
<h2>Get them at their best</h2>
<p>Young carrots, harvested when they are small have an especially sweet flavor and they are absolutely delicious. To cook them you can skip the peeling, give them a good wash and pop them in the steamer for just a few minutes. Carrots will taste the best when they are fresh, so make sure they are firm and bright in color when buying.</p>
<h2>And that thing about carrots helping you see more in the dark?</h2>
<p>Of course it's a myth. During World War II the UK Ministry of Food promoted carrots as a super healthy veggie that would improve your ability to see during the blackouts and as an explanation for the successful night missions of UK fighter pilots. In reality, the only truth in the connection between carrots and improved eye sight is that vitamin A does indeed help to maintain vision.</p>
