html {
    font-size: 16px;
}

body > main {
    background: white;
}

section aside {
    border: 2px solid lightgray;
    margin: 1rem 0rem;
    max-width: 300px;
}

section aside > div {
    padding: 0.5rem 1rem 0rem 1rem;
}

a[href*="://"]::after {
    content: '';
}

.card {
    padding-bottom: 1.5rem;
}

.card:hover {
    box-shadow: 0 5px 10px black;
    transform: translate(0, -5px);
}

.card-title a {
    font-size: 1.5rem;
    text-decoration: none;
}

.items {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.items > * {
    display: inline-block;
    margin-right: 0.5rem;
}

.term-button {
    color: darkgreen;
    background: white;
    text-decoration: none;
    border: 1px solid darkgreen;
    padding: 0rem 0.5rem;
    margin-bottom: 0.5rem;
}

.term-tags {
    border-color: gray;
    border-radius: 20px;
}

.count {
    font-size: smaller;
    padding: 0rem 0.2rem;
    margin: 0rem 0rem 0rem 0.2rem;
    border-radius: 30%;
    background: #eee;
    color: black;
}

.pagination {
    list-style: none;
    display: flex;
}

.pagination li {
    border: 1px solid lightblue;
    padding: 0rem 0.7rem;
}

img.hero {
    width: 100%;
    margin: 1rem auto;
}

img[data-align="left"] {
    float: left;
    margin-right: 2rem;
}

img[data-align="right"] {
    float: right;
    margin-left: 2rem;
}

img[data-align="center"] {
    margin-left: auto;
    margin-right: auto;
}

dl {
    font-size: 1.2rem;
}

.recipe_data {
    margin: 3rem;
}

ul.recipe_ingredients {
    list-style: none;
    margin-left: 2rem;
}

.recipe_instruction {
    margin-left: 2rem;
}



