{{- define "breadcrumbnav" }}
{{- if .p1.Parent }}
  {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{- else if not .p1.IsHome }}
  {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{- end }}
{{- if .p1.IsHome }}
  <li><a href="{{ .p1.RelPermalink }}">{{ default "Home" (i18n "home" | humanize) }}</a> &gt; </li>
{{- else if ne .p1 .p2 }}
  <li><a href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a> &gt; </li>
{{- else }}
  <li>{{ .p1.Title }}</li>
{{- end }}
{{- end -}}

<nav>
<ul class="breadcrumb">
  {{- template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ul>
</nav>
