<aside class="card" onclick="location.href='{{ .RelPermalink }}'">
  {{- with .Param "fields.media_image.fields.media_image" }}
  {{- $image := resources.Get .url }}
  {{- $image = ($image.Fit "300x150").RelPermalink }}
  <img src="{{ $image }}" alt="{{ .meta.alt }}" style="width:100%" />
  {{- end -}}
  <div>{{ .CurrentSection.Title }}</div>
  <div class="card-title">
    {{ partial "link.html" . }}
  </div>
</aside>
