<header>
<nav>
  <a href="{{ "/" | relLangURL }}" style="font-size: 1.5rem">{{ .Site.Title }}</a>
  <ul>
    <li><a href="{{ "/article/" | relLangURL }}">{{ default "Articles" (i18n "articles" | humanize) }}</a></li>
    <li><a href="{{ "/recipe/" | relLangURL }}">{{ default "Recipes" (i18n "recipes" | humanize) }}</a></li>
    <li>|</li>
    {{- range .Translations }}
    <li><a href="{{ .RelPermalink }}">{{ upper .Lang }}</a></li>
    {{- end }}
    <li>|</li>
    <li><a href="https://gitlab.com/tamura70/drupal-umami-hugo/">GitLab</a></li>
  </ul>
</nav>
</header>
