{{- if eq .Kind "term" }}
  <a href="{{ .RelPermalink }}" class="term-button term-{{ .Type }}">{{ .Title }}
  <span class="count">{{ len .Pages }}</span></a>
{{- else }}
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{- end }}
