<h2>{{ default "Recipe collections" (i18n "recipe_collections" | humanize) }}</h2>
<div class="items">
  {{- range $key, $value := .Site.Taxonomies.recipe_category.ByCount }}
  {{ partial "link.html" $value.Page }}
  {{- end }}
</div>
<div class="items">
  {{- range $key, $value := .Site.Taxonomies.tags.ByCount }}
  {{ partial "link.html" $value.Page }}
  {{- end }}
</div>
