{{- with .Param "fields.summary.processed" }}
<div class="recipe_summary">
  {{ . | safeHTML }}
</div>
{{- end }}

{{- with .Param "fields.media_image.fields.media_image" }}
<figure>
  <img src="{{ .url }}" alt="{{ .meta.alt }}" style="width:100%; max-width:400px"/>
</figure>
{{- end -}}

{{- $difficulty := .Param "fields.difficulty" }}
{{- $difficulty = default (humanize $difficulty) (i18n $difficulty | humanize) }}
<dl class="recipe_data">
  <dt>{{ default "Preparation time" (i18n "preparation_time" | humanize) }}</dt>
  <dd>{{ .Param "fields.preparation_time" }} {{ default "minutes" (i18n "minutes") }}</dd>
  <dt>{{ default "Cooking time" (i18n "cooking_time" | humanize) }}</dt>
  <dd>{{ .Param "fields.cooking_time" }} {{ default "minutes" (i18n "minutes") }}</dd>
  <dt>{{ default "Number of servings" (i18n "number_of_servings" | humanize) }}</dt>
  <dd>{{ .Param "fields.number_of_servings" }}</dd>
  <dt>{{ default "Difficulty" (i18n "difficulty" | humanize) }}</dt>
  <dd>{{ $difficulty }}</dd>
</dl>

<h3>{{ default "Ingredients" (i18n "ingredients" | humanize) }}</h3>
<ul class="recipe_ingredients">
{{- range .Param "fields.ingredients" }}
  <li>{{ . }}</li>
{{- end }}
</ul>

<h3>{{ default "Recipe instruction" (i18n "recipe_instruction" | humanize) }}</h3>
<div class="recipe_instruction">
{{ .Param "fields.recipe_instruction.processed" | safeHTML }}
</div>
