{
  "key": "/recipe/1",
  "nid": 1,
  "name": "recipe",
  "url": "recipes/deep-mediterranean-quiche/",
  "title": "Deep mediterranean quiche",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-22",
    "tags-13"
  ],
  "fields": {
    "cooking_time": 30,
    "difficulty": "medium",
    "ingredients": [
      "For the pastry:",
      "280g plain flour",
      "140g butter",
      "Cold water",
      "For the filling:",
      "1 onion",
      "2 garlic cloves",
      "Half a courgette",
      "450ml soya milk",
      "500g grated parmesan",
      "2 eggs",
      "200g sun dried tomatoes",
      "100g feta"
    ],
    "number_of_servings": 8,
    "preparation_time": 40,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Preheat the oven to 400°F/200°C. Starting with the pastry; rub the flour and butter together in a bowl until crumbling like breadcrumbs. Add water, a little at a time, until it forms a dough.</li>\n  <li>Roll out the pastry on a floured board and gently spread over your tin. Place in the fridge for 20 minutes before blind baking for a further 10.</li>\n  <li>Whilst the pastry is cooling, chop and gently cook the onions, garlic and courgette.</li>\n  <li>In a large bowl, add the soya milk, half the parmesan, and the eggs. Gently mix.</li>\n  <li>Once the pastry is cooked, spread the onions, garlic and sun dried tomatoes over the base and pour the eggs mix over. Sprinkle the remaining parmesan and careful lay the feta over the top. Bake for 30 minutes or until golden brown.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Preheat the oven to 400°F/200°C. Starting with the pastry; rub the flour and butter together in a bowl until crumbling like breadcrumbs. Add water, a little at a time, until it forms a dough.</li>\n<li>Roll out the pastry on a floured board and gently spread over your tin. Place in the fridge for 20 minutes before blind baking for a further 10.</li>\n<li>Whilst the pastry is cooling, chop and gently cook the onions, garlic and courgette.</li>\n<li>In a large bowl, add the soya milk, half the parmesan, and the eggs. Gently mix.</li>\n<li>Once the pastry is cooked, spread the onions, garlic and sun dried tomatoes over the base and pour the eggs mix over. Sprinkle the remaining parmesan and careful lay the feta over the top. Bake for 30 minutes or until golden brown.</li>\n</ol>"
    },
    "summary": {
      "value": "An Italian inspired quiche with sun dried tomatoes and courgette. A perfect light meal for a summer's day.",
      "format": "basic_html",
      "processed": "<p>An Italian inspired quiche with sun dried tomatoes and courgette. A perfect light meal for a summer's day.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "A delicious deep layered Mediterranean quiche with basil garnish",
            "title": null,
            "width": 768,
            "height": 511,
            "drupal_internal__target_id": 1
          },
          "url": "/sites/default/files/mediterranean-quiche-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

