{
  "key": "/recipe/10",
  "nid": 10,
  "name": "recipe",
  "url": "recipes/borscht-with-pork-ribs/",
  "title": "Borscht with pork ribs",
  "recipe_category": [
    "recipe_category-31"
  ],
  "tags": [
    "tags-25"
  ],
  "fields": {
    "cooking_time": 60,
    "difficulty": "medium",
    "ingredients": [
      "400-500g pork ribs",
      "2 beets",
      "2 tomatoes",
      "¼ celery root",
      "¼ cabbage",
      "3-4 medium potatoes",
      "1 carrot",
      "1 onion",
      "1-2 smoked pears",
      "2 bay leaves",
      "3 allspice berries",
      "1 bulb garlic",
      "1 bell pepper",
      "200ml tomato juice",
      "30g butter",
      "2 tbsp tomato paste",
      "3l water",
      "Sour cream",
      "1 can beans (optional)",
      "Salt to taste"
    ],
    "number_of_servings": 8,
    "preparation_time": 30,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Preheat the oven to 400°F/200°C. Put pork ribs on the baking dish and bake them for 30 minutes. Wash but don’t peel the celery root. Dice the carrot.</li>\n  <li>Put the baked pork ribs in a pot and add 3 liters of water. Chop the celery root and carrot and add them to the pot, along with half the unpeeled onion. Bring the pot to the boil and simmer for 30 minutes.</li>\n  <li>The heart of the borscht is sautéed vegetables. Dice the bell pepper, tomatoes, and remainder of the onion. Place the butter in a saucepan and add the vegetables. Cook them over a moderate heat until soft. Add the tomato paste, reduce the heat, and simmer for 5-7 minutes. Grate a beet, add it to the saucepan, and stew for a further 3-4 minutes.</li>\n  <li>Cut a garlic bulb in a half and add it to the pot. Shred the cabbage and put it aside.</li>\n  <li>Take the second beet and squeeze all the juice out. If you don’t have a juice squeezer, you can grate a beet and pass it through the sieve. Add the juice together with the allspice, bay leaves, and several pinches of salt to taste.</li>\n  <li>Optionally add the canned beans.</li>\n  <li>Add the smoked pears to the pot. They will make your dish smell smoky.</li>\n  <li>Add the shredded cabbage and cook for a further 5  minutes.</li>\n  <li>Take the borscht off the heat and let it stand for 30 minutes.</li>\n</ol>\n<p>Serve the borscht with a spoon of sour cream and chopped dill. Put the leftover borscht in the fridge, and remember that it tastes better the next day!</p>\n",
      "format": "basic_html",
      "processed": "<ol><li>Preheat the oven to 400°F/200°C. Put pork ribs on the baking dish and bake them for 30 minutes. Wash but don’t peel the celery root. Dice the carrot.</li>\n<li>Put the baked pork ribs in a pot and add 3 liters of water. Chop the celery root and carrot and add them to the pot, along with half the unpeeled onion. Bring the pot to the boil and simmer for 30 minutes.</li>\n<li>The heart of the borscht is sautéed vegetables. Dice the bell pepper, tomatoes, and remainder of the onion. Place the butter in a saucepan and add the vegetables. Cook them over a moderate heat until soft. Add the tomato paste, reduce the heat, and simmer for 5-7 minutes. Grate a beet, add it to the saucepan, and stew for a further 3-4 minutes.</li>\n<li>Cut a garlic bulb in a half and add it to the pot. Shred the cabbage and put it aside.</li>\n<li>Take the second beet and squeeze all the juice out. If you don’t have a juice squeezer, you can grate a beet and pass it through the sieve. Add the juice together with the allspice, bay leaves, and several pinches of salt to taste.</li>\n<li>Optionally add the canned beans.</li>\n<li>Add the smoked pears to the pot. They will make your dish smell smoky.</li>\n<li>Add the shredded cabbage and cook for a further 5  minutes.</li>\n<li>Take the borscht off the heat and let it stand for 30 minutes.</li>\n</ol><p>Serve the borscht with a spoon of sour cream and chopped dill. Put the leftover borscht in the fridge, and remember that it tastes better the next day!</p>\n"
    },
    "summary": {
      "value": "Every Ukrainian family has a modification; with beans, without cabbage, etc. They are all valid though, there’s no unified ‘correct’ recipe. The one you are about to read and cook is borscht with pork ribs. You’ll appreciate its taste and flavor. You’ll connect and feel a true Ukrainian soul while savoring!",
      "format": "basic_html",
      "processed": "<p>Every Ukrainian family has a modification; with beans, without cabbage, etc. They are all valid though, there’s no unified ‘correct’ recipe. The one you are about to read and cook is borscht with pork ribs. You’ll appreciate its taste and flavor. You’ll connect and feel a true Ukrainian soul while savoring!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Traditional Ukrainian soup with beets, tomatoes, and pork ribs",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 41
          },
          "url": "/sites/default/files/borscht-with-pork-ribs-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

