{
  "key": "/recipe/5",
  "nid": 5,
  "name": "recipe",
  "url": "recipes/victoria-sponge-cake/",
  "title": "Victoria sponge cake",
  "recipe_category": [
    "recipe_category-30"
  ],
  "tags": [
    "tags-5"
  ],
  "fields": {
    "cooking_time": 20,
    "difficulty": "easy",
    "ingredients": [
      "225g butter or margarine",
      "225g caster sugar",
      "225g self-raising flour",
      "4 eggs",
      "1 tsp baking powder",
      "3 tbsp of jam for the filling",
      "Icing sugar to dust the top",
      "Cream to serve"
    ],
    "number_of_servings": 10,
    "preparation_time": 20,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Preheat the oven to 350°F/180°C and grease two 8 inch cake tins.</li>\n  <li>In a large bowl, mix the butter and sugar together, then add the eggs, flour and baking powder.</li>\n  <li>Spread the mix evenly between the 2 cake tins.</li>\n  <li>Place both tins in the middle of the preheated oven for 20 minutes, before checking with a knife. When the knife comes out clean, it's ready!</li>\n  <li>Allow to cool in the tins before moving them onto a cooling rack.</li>\n  <li>Add the jam, stack, dust with icing sugar and serve with a big dollop of cream. Enjoy!</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Preheat the oven to 350°F/180°C and grease two 8 inch cake tins.</li>\n<li>In a large bowl, mix the butter and sugar together, then add the eggs, flour and baking powder.</li>\n<li>Spread the mix evenly between the 2 cake tins.</li>\n<li>Place both tins in the middle of the preheated oven for 20 minutes, before checking with a knife. When the knife comes out clean, it's ready!</li>\n<li>Allow to cool in the tins before moving them onto a cooling rack.</li>\n<li>Add the jam, stack, dust with icing sugar and serve with a big dollop of cream. Enjoy!</li>\n</ol>"
    },
    "summary": {
      "value": "A traditional Victoria sponge cake, perfect for any afternoon with a cup of tea.",
      "format": "basic_html",
      "processed": "<p>A traditional Victoria sponge cake, perfect for any afternoon with a cup of tea.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "A classic, uncut Victoria sponge with a deep filling of butter cream and jam",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 9
          },
          "url": "/sites/default/files/victoria-sponge-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

