{
  "key": "/recipe/6",
  "nid": 6,
  "name": "recipe",
  "url": "recipes/gluten-free-pizza/",
  "title": "Gluten free pizza",
  "recipe_category": [
    "recipe_category-31"
  ],
  "fields": {
    "cooking_time": 15,
    "difficulty": "medium",
    "ingredients": [
      "400g gluten free flour",
      " 125ml warm water",
      " 125ml milk",
      " 1 sachet dried yeast",
      " 2 tsp sugar",
      " 1 tsp salt",
      " 2 tbsp olive oil",
      " 4 tbsp tomato puree",
      " 1 garlic clove",
      " Fresh basil",
      " 200g mozzarella",
      " 100g rocket",
      " 5 slices Parma ham"
    ],
    "number_of_servings": 4,
    "preparation_time": 15,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Preheat the oven to 425°F/220°C. Mix some of the milk and water in a jug, and add the yeast and sugar, then set aside.</li>\n  <li>In a bowl, mix the flour, salt and oil. Slowly add the liquid from the jug and form into a dough.</li>\n  <li>Break the dough in half and shape into two pizza bases. Set aside for about 15 minutes, whilst making the topping.</li>\n  <li>Spread the tomato puree over the pizza bases, chop the basil and rocket and sprinkle over the tomato. Lay the chopped Parma ham on top and add thick slices of mozzarella across the pizza.</li>\n  <li>Cook in the oven directly on the top shelf (with a tray underneath) for 10-12 minutes until the mozzarella is bubbling. Season with salt and pepper and serve.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Preheat the oven to 425°F/220°C. Mix some of the milk and water in a jug, and add the yeast and sugar, then set aside.</li>\n<li>In a bowl, mix the flour, salt and oil. Slowly add the liquid from the jug and form into a dough.</li>\n<li>Break the dough in half and shape into two pizza bases. Set aside for about 15 minutes, whilst making the topping.</li>\n<li>Spread the tomato puree over the pizza bases, chop the basil and rocket and sprinkle over the tomato. Lay the chopped Parma ham on top and add thick slices of mozzarella across the pizza.</li>\n<li>Cook in the oven directly on the top shelf (with a tray underneath) for 10-12 minutes until the mozzarella is bubbling. Season with salt and pepper and serve.</li>\n</ol>"
    },
    "summary": {
      "value": "A gorgeous and simple gluten free pizza, with deliciously indulgent mozzarella and Parma ham. Can easily be vegetarian by leaving out the ham.",
      "format": "basic_html",
      "processed": "<p>A gorgeous and simple gluten free pizza, with deliciously indulgent mozzarella and Parma ham. Can easily be vegetarian by leaving out the ham.</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Olives, basil, and mozzarella top a gluten free pizza crust with marinara sauce",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 11
          },
          "url": "/sites/default/files/pizza-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

