{
  "key": "/recipe/9",
  "nid": 9,
  "name": "recipe",
  "url": "recipes/fiery-chili-sauce/",
  "title": "Fiery chili sauce",
  "recipe_category": [
    "recipe_category-29"
  ],
  "tags": [
    "tags-28"
  ],
  "fields": {
    "cooking_time": 50,
    "difficulty": "easy",
    "ingredients": [
      "2 red onions",
      " 1 lemon",
      " 2 limes",
      " 250ml malt vinegar",
      " 7 garlic cloves",
      " 1 green bell pepper",
      " 1 red bell pepper",
      " 800g cherry tomatoes",
      " 30 mixed chilies",
      " Olive oil",
      " 1 tbsp ground black pepper",
      " 1 tbsp brown sugar"
    ],
    "number_of_servings": 60,
    "preparation_time": 10,
    "recipe_instruction": {
      "value": "<ol>\n  <li>Preheat the oven to 400°F/200°C.</li>\n  <li>Finely chop the red onions and sweat gently on a low heat in olive oil for 5 minutes.</li>\n  <li>Peel the garlic and add it to the onions.</li>\n  <li>Meanwhile, chop the bell peppers to 1 inch pieces. Add the bell peppers and tomatoes to a roasting dish, and rub with lemon juice, olive oil and black pepper. Transfer to the oven and roast for 30 minutes.</li>\n  <li>Once the onions and garlic have softened, chop and add the chilies, seeds and all. Mix well and continue to gently fry.</li>\n  <li>Thoroughly wash your hands following handling raw chilies.</li>\n  <li>Once the tomatoes and bell peppers have finished roasting, add them to the pan. Cook for at least 10 minutes, breaking them up with a masher or a hand blender as they simmer. Once broken up, mix in the sugar.</li>\n  <li>Transfer the sauce to a blender and blend until smooth.</li>\n  <li>Return to the pan and add the vinegar and juice of the limes.</li>\n  <li>Cook through for a further 10 minutes, then leave to cool.</li>\n  <li>Transfer to sterilized jars and keep refrigerated.</li>\n  <li>Leave for at least two weeks before tasting.</li>\n</ol>\n",
      "format": "basic_html",
      "processed": "<ol><li>Preheat the oven to 400°F/200°C.</li>\n<li>Finely chop the red onions and sweat gently on a low heat in olive oil for 5 minutes.</li>\n<li>Peel the garlic and add it to the onions.</li>\n<li>Meanwhile, chop the bell peppers to 1 inch pieces. Add the bell peppers and tomatoes to a roasting dish, and rub with lemon juice, olive oil and black pepper. Transfer to the oven and roast for 30 minutes.</li>\n<li>Once the onions and garlic have softened, chop and add the chilies, seeds and all. Mix well and continue to gently fry.</li>\n<li>Thoroughly wash your hands following handling raw chilies.</li>\n<li>Once the tomatoes and bell peppers have finished roasting, add them to the pan. Cook for at least 10 minutes, breaking them up with a masher or a hand blender as they simmer. Once broken up, mix in the sugar.</li>\n<li>Transfer the sauce to a blender and blend until smooth.</li>\n<li>Return to the pan and add the vinegar and juice of the limes.</li>\n<li>Cook through for a further 10 minutes, then leave to cool.</li>\n<li>Transfer to sterilized jars and keep refrigerated.</li>\n<li>Leave for at least two weeks before tasting.</li>\n</ol>"
    },
    "summary": {
      "value": "A rich and fiery chili sauce. Take care when handling chili peppers. And serve sparingly!",
      "format": "basic_html",
      "processed": "<p>A rich and fiery chili sauce. Take care when handling chili peppers. And serve sparingly!</p>\n"
    },
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "An iridescent array of chilies, onions, and garlic, slowly sweating over a low heat",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 17
          },
          "url": "/sites/default/files/chili-sauce-umami.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

