{
  "key": "/article/17",
  "nid": 17,
  "name": "article",
  "url": "articles/skip-the-spirits-with-delicious-mocktails/",
  "title": "Skip the spirits with delicious mocktails",
  "tags": [
    "tags-1",
    "tags-12",
    "tags-20",
    "tags-8",
    "tags-11"
  ],
  "fields": {
    "media_image": {
      "type": "media--image",
      "fields": {
        "media_image": {
          "type": "file--file",
          "meta": {
            "alt": "Fresh mojito mocktail with garnish of mint leaves, ice, and sliced lime",
            "title": null,
            "width": 768,
            "height": 512,
            "drupal_internal__target_id": 31
          },
          "url": "/sites/default/files/mojito-mocktail.jpg"
        }
      }
    }
  },
  "references": {},
  "date": "2023-03-08T06:10:11+00:00",
  "lastmod": "2023-03-08T06:10:11+00:00",
  "draft": false,
  "promote": true
}

<p>Having a cocktail party? Then why not serve up something just as special for those who don't drink alcohol but do want to join in on all the fun? After all, what cocktail party is complete without those incredible looking glasses of mixed fruits, bright colors and of course, the little umbrellas? Do your bit for the environment by ditching the plastic straws and get hold of some great looking alternatives made out of glass, metal, or even bamboo. Don't forget the classic cocktail glasses and cool tumblers to really bring these recipes to life.
</p>
<p>
So, grab the cocktail mixer, skip the spirits, and shake up these deliciously refreshing mocktails that won't leave you or your guests, short on flavor or style.
</p>
<h2>Mango-licious</h2>
<p>This delicious drink has a sophisticated taste that is ideal for adults and the color is perfect for a late summer BBQ.</p>
<h3>Instructions:</h3>
<p>Give a few slices of cucumber and a little honey a good shake in a cocktail shaker. Add a spirit measure of mango puree and the juice of one lime. Add some ice and shake for all you're worth. Using a strainer, pour into a fancy glass and top with ginger beer. A few slices of lime and you're ready to go.</p>
<h2>Mocky Mojito</h2>
<p>There's nothing quite like a Mojito on a warm day and this version is ideal for a relaxing end of the day moment of bliss in the garden.</p>
<h3>Instructions:</h3>
<p>Muddle sugar, a squeeze of lime, and mint leaves in a tall glass, then add a few chunks of ice, top with the juice of a blood orange (for the sunset effect), and add a splash of soda water. Add a few sprigs of mint for an authentic look.</p>
<h2>Sinless Strawberry Martini</h2>
<p>Strawberries add a beautiful rich red to this mocktail, while the ginger gives it a little kick. Serve in a proper martini glass, but maybe avoid the olives.</p>
<h3>Instructions:</h3>
<p>Muddle a strawberry with a dash a ginger beer and some sugar syrup in a cocktail shaker. Add a capful of elderflower cordial and a few mint leaves. Throw in a slice of orange and lemon and shake with ice. Strain into your glass and enjoy the sweet strawberry flavor.</p>
<h2>Coconut Queen</h2>
<p>Crazy about coconuts? Then you'll love the refreshing taste of this coconut based mocktail. The flavors give a hint of the tropical, while the look is grown-up sophistication.</p>
<h3>Instructions:</h3>
<p>Add sliced cucumbers, the juice of a lime or two, and some mint leaves to a pitcher of coconut water and leave to chill and infuse for a few hours in the fridge. You can also add some sugar if you fancy this sweeter. Serve poured into glasses full of ice with sliced cucumber and mint leaves. Simple and beautiful.</p>
